@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    margin:0;
    padding:0;
    text-align: justify;
    
    
}

body{background-color: rgb(167, 167, 167)}

header{
    background-color: rgb(73, 73, 73);
    height: 30px;

}

header > p{

    padding-left: 100px ;
    color: orange;
    font-family: 'Zen Dots', cursive;
    font-size: 20px;
    text-transform: uppercase;
}

h1{

    text-align: center;
    padding-top: 50px;
}
h2{
    text-align: center;
    padding-bottom: 10px;
}

form{
    padding: 50px;
    position: absolute;
    height: 100px;
    width: 600px;
    margin: -100px 0 0 -200px;
    top: 30%;
    left: 45%;
    

}

nav{
    background-color: rgb(70, 69, 69);
}
footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    height: 30px;
    background-color: rgb(70, 69, 69);
    color: orange;
}

footer p {
    text-align: center;
}

.form-text{
    color: black;
}

.register-class{
    
    font-size: 17px;
    
    color:black;
}
.register-class:hover{
    color: #FFCA2C;
}

a > p {
    text-align: right;
}

.buttoncfg {
    position: absolute;
    top : 580px;
    right : 50px;
}


