<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Import bootstrap css ---------------------------------------->
   <link rel="stylesheet" href="style\bootstrap.min.css">
   <!-- ---------------------------------------------------------- -->
    <link rel="stylesheet" href="style/style-log.css" type="text/css">
    <link rel="shortcut icon" href="images/deathstar.ico" type="image/x-icon">
    <title>Login - Cortinas</title>
</head>
<body>
    <header>
        <p>Cortinas</p>
    </header>
    <h1>Bem Vindo!</h1>
    <h2>Insira seus dados abaixo e aproveite nossa plataforma. </h1>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Esse email nunca será compartilhado com ninguem.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Lembrar mais tarde</label>
        </div>
        <button type="submit" class="btn btn-warning " >Enviar</button>


        <a class="register-class" href="/registrar"><p>Eu não tenho uma conta ainda! </p></a> 
      </form>
    


      <footer>
          <p>ppads by Victor Cesar, Bruno Kenzo, Eduardo Atanes e Renan Nishimura</p>
      </footer>
</body>
</html>