<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import bootstrap css ---------------------------------------->
    <link rel="stylesheet" href="style\bootstrap.min.css">
    <!-- ---------------------------------------------------------- -->
    <link rel="stylesheet" href="style/style-reg.css" type="text/css">
    <link rel="shortcut icon" href="images/deathstar.ico" type="image/x-icon">
    <title>Fazer Registro - Cortinas</title>
</head>
<body>
    <header>
        <p>Cortinas</p>
    </header>
    <h1> Para se Registrar, preencha corretamente todos os dados requisitados abaixo:  </h1>
    <form>
      <label for="">Nome Completo</label>  
      <input type="text"  class="form-control">
      <br>
      <label for="">Data de Nascimento</label>  
      <input type="date"  class="form-control">
      <br>
      <label for="">Cidade</label>  
      <input type="text" class="form-control" >
      <br>
      <label for="">Estado</label>  
      <input type="text"  class="form-control">
      <br>
      <div>
        <label for="">Username</label>
        <input type="text"  class="form-control" name="" id="">


      </div>
      <br>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

      <button type="submit" class="buttoncfg btn btn-warning  btn-lg " >Enviar</button>

    </form>
    


      <footer>
          <p>ppads by Victor Cesar, Bruno Kenzo, Eduardo Atanes e Renan Nishimura</p>
      </footer>
</body>
</html>