<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1">
    <!-- Import bootstrap css ---------------------------------------->
    <link rel="stylesheet" href="/style/bootstrap.min.css" type="text/css"> 
    <!-- ---------------------------------------------------------- -->
    <link rel="stylesheet" href="/style/style-index.css" type="text/css">
    <link rel="shortcut icon" href="/images/deathstar.ico" type="image/x-icon">
    <script src="/js/bootstrap.min.js"></script>
    <title>Login - Cortinas</title>
</head>
<body>

<div class="container-fluid">

<!-- HEADER -->
    <header class="row">

      <div class="col-12">
        <p><a href="#">Cortinas</a></p>
      </div>
   
        
    </header>

  <!--HEADER-->

  <!--SECTION-->
  <section class="row">
    <div class = "col-12">
      <h1>Bem vindo!</h1>
      <h2>Insira seus dados abaixo e aproveite nossa plataforma. </h2>
    </div>
    
  </section>
    
 <!--SECTION-->


    <!-- div class="statusmsg alert"><%= message %></div> -->

      
  <section class="row justify-content-center">
    <section class= "col-lg-4 col-sm-6 col-sm-7">
      <form  role="form" method="get" class="form-container">
        <div class="mb-3" >
          <label class="form-label">Username</label>
        <input type="text" id="userName" class="form-control" name="username" aria-label="Username" aria-describedby="basic-addon1" autocomplete="on" required>
          <div id="emailHelp" class="form-text">Seus dados nunca serão compartilhados com ninguem.</div>
        </div>
       
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" id="userPassword" name="password" class="form-control" id="exampleInputPassword1" autocomplete="on" required>
        
        </div>
    
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1"  >
          <label class="form-check-label" for="exampleCheck1">Lembrar mais tarde</label>           
        </div>
           
            <!--<button type="submit" onclick="logarUser()" class="btn btn-primary btn-lg " >Enviar</button>-->
          <input type="button" onclick="logarUser()" value="Logar" class="btn btn-primary btn-lg">
            <a class="register-class" href="/cadastro.html"><p>Eu não tenho uma conta ainda! </p></a>

      </form>
    </section>
  </section>
   


      <div class= "row">
        <div class="col-12">
          <footer>
            <p>
            <a href="http://github.com/vceesar/cortinas">PPADS by The Cortinas.</a>
            </p>
          </footer>
        </div>
      </div>
     
      

<!--/DIV DO CONTAINER-FLUID-->
    </div>

<script>
    const userName= document.querySelector("#userName");
    const userPassword= document.querySelector("#userPassword");

    function logIn(teste) {
        confirm("Usuário logado!")?location.replace("/home.html"):location.replace("/home.html");
    }

    async function logarUser(){
    const URL= "/cortinas/login/logUserIn/${userName.value}/${userPassword.value}";

    const getLogin={
    method: 'GET'
  };
    try{
        fetch(URL, getLogin).then(resposta => resposta.json()).then(jsonResponse => logIn(jsonResponse));
    }catch(e){
    corpoTabela.innerHTML=e;

    }

    }


</script>
</body>
</html>